# Hierarchical Rein- forcement Learning Fraud Detection (HRLFD) - an Adapttive approach

### Overview 
This project aims to explore a heirarchical aproach to fraud detection . we aim to build a reinforcement model that does not just classify transactions as fraud or not fraud like more traditional models but instead use a Hierarchical reinforcement aproach to examine each transaction deeply as real world data are data are not as straighforward and the traditional binary prediction leads ro more false positive predictions.

In [9]:
# Importining neccesary packages
import numpy as np
import pandas as pd
from imblearn.over_sampling import SMOTE

### Data Understanding
To understand the data, we'll load the provided dataset and explore its structure, missing values, and summary statistics.

In [ ]:
# 
df = pd.read_csv('creditcard.csv')
df.head()
df.isnull().sum()

df["Class"].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

From initial analysis the dataset does not have any missing values however the data is heavily imbalanced

In [10]:
# Splitting features and target variable 
X = df.drop(columns=["Class"])  # Features
y = df["Class"]  # Target

# Applying SMOTE to balance the classes
smote = SMOTE(sampling_strategy='auto', random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y)

# Checking new class distribution
print(y_resampled.value_counts())

Class
0    284315
1    284315
Name: count, dtype: int64

In [11]:
# Scaling 
# Checking if the features are already scaled
X_resampled.describe().round(2)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
count,568630.00,568630.00,568630.00,568630.00,568630.00,568630.00,568630.00,568630.00,568630.00,568630.00,...,568630.00,568630.00,568630.00,568630.00,568630.00,568630.00,568630.00,568630.00,568630.00,568630.00
mean,87818.93,-2.47,1.92,-3.64,2.33,-1.63,-0.71,-2.93,0.27,-1.33,...,0.18,0.40,-0.01,-0.00,-0.06,0.03,0.03,0.08,0.04,95.52
std,48121.84,5.45,3.63,6.15,3.14,4.13,1.71,5.71,4.97,2.22,...,1.03,2.86,1.17,1.01,0.54,0.61,0.45,0.95,0.42,220.35
min,0.00,-56.41,-72.72,-48.33,-5.68,-113.74,-26.16,-43.56,-73.22,-13.43,...,-54.50,-34.83,-10.93,-44.81,-2.84,-10.30,-2.60,-22.57,-15.43,0.00
25%,46004.90,-3.06,-0.09,-5.23,-0.05,-1.83,-1.55,-3.25,-0.20,-2.32,...,-0.19,-0.16,-0.50,-0.22,-0.38,-0.30,-0.27,-0.07,-0.06,3.34
50%,80283.50,-0.82,1.02,-1.55,1.48,-0.44,-0.69,-0.75,0.17,-0.81,...,0.04,0.16,0.02,-0.03,-0.01,0.04,-0.01,0.06,0.04,25.00
75%,134730.75,0.83,2.89,0.27,4.34,0.43,0.02,0.19,0.85,0.08,...,0.44,0.65,0.53,0.19,0.34,0.37,0.31,0.43,0.21,99.99
max,172792.00,2.45,22.06,9.38,16.88,34.80,73.30,120.59,20.01,15.59,...,39.42,27.20,10.50,22.53,4.58,7.52,3.52,31.61,33.85,25691.16